    <div class="section">
      <div class="container">
        <div class="row justify-content-between align-items-top">
          <div class="col-lg-10 mb-5 mb-lg-0">
            <h1 class="heading">Valentine's Day</h1>
            <div class="text-white mt-4 mb-4 ml-3 mypara">
             Hey Tejaaaa 💖
             
             <div class="mt-2">This is our first valentine's day since we know each other and I am exited to express my heartfelt wishes to you 😃</div>
              <div class="mt-3"> Though we may not yet know each other fully yet, I feel happy from past couple of months to know more about you and still trying to understand you alot. Hope you will like my small efforts of wishing you the valentines day in unique way with a gentle reminder of the love that surrounds you, the memories we've created, and the moments we've yet to share."</div>
             <div class="mt-3"> Try to reach final page with the clues given in next page 😉</div>
            </div>
            
          
            <a
              class="btn btn-warning mt-4" [routerLink]="['/dateselector']"
            >
              Next
          </a>
          </div>
          <!-- <div class="col-lg-6">
            <carousel [showIndicators]="false">
              <slide>
                <img
                  alt="First slide"
                  class="d-block w-100"
                  src="assets/img/denys.jpg"
                />
              </slide>
              <slide>
                <img
                  alt="Second slide"
                  class="d-block w-100"
                  src="assets/img/fabien-bazanegue.jpg"
                />
              </slide>
              <slide>
                <img
                  alt="Third slide"
                  class="d-block w-100"
                  src="assets/img/mark-finn.jpg"
                />
              </slide>
            </carousel>
          </div> -->
        </div>
      </div>
    </div>

    <!-- <div class="container">
        <h4 class="mb-5 mt-3">Datepicker</h4>
        <div class="row">
          <div class="col-md-4">
            <div class="datepicker-container">
              <div class="form-group">
                <input
                  bsDatepicker
                  class="form-control"
                  data-datepicker-color="danger"
                  [bsConfig]="{ isAnimated: true, containerClass: 'theme-red' }"
                  [bsValue]="date"
                  id="datepicker"
                  type="text"
                />
              </div>
            </div>
          </div>
        </div>
      </div> -->