<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header justify-content-center">
            <!-- <button aria-hidden="true" class="close" (click)="onClick()" type="button">
                <i class="tim-icons icon-simple-remove text-black"> </i>
            </button> -->
            <div class="text-muted text-center ml-auto mr-auto">
                <h3 class="mb-0">Crush</h3>
            </div>
        </div>
        <hr>
        
        <div class="modal-body">
            <div>The date we first met wasn't just a random one, may be it was destiny calling us to unite for a lifetime friendship.<br>Will you be my kohli 🙈
            </div>
            <br>
            <button class="btn btn-default" (click)="onClick()" type="button">Close</button>
        </div>
        
    </div>
</div>