<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header justify-content-center">
            <!-- <button aria-hidden="true" class="close" (click)="onClick()" type="button">
                <i class="tim-icons icon-simple-remove text-black"> </i>
            </button> -->
            <div class="text-muted text-center ml-auto mr-auto">
                <h3 class="mb-0">Promise</h3>
            </div>
        </div>
        <hr>
        
        <div class="modal-body">
            <div>Promise Day,
                 I promise to always share all weird and funny jokes with you like a famous comedian in TFI… but only if you promise not to get mad at me😉</div>
            <br>
            <button class="btn btn-default" (click)="onClick()" type="button">Close</button>
        </div>
        
    </div>
</div>