<!-- <nav class="navbar navbar-expand-lg fixed-top" color-on-scroll="100" id="navbar-top">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" placement="bottom" [routerLink]="['/home']" target="_blank">
        <span> BLK• </span> Design System Angular
      </a>
      <button aria-controls="navigation-index" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler"
        [attr.aria-expanded]="!isCollapsed" (click)="isCollapsed = !isCollapsed" id="navigation" type="button">
        <span class="navbar-toggler-bar bar1"> </span>
        <span class="navbar-toggler-bar bar2"> </span>
        <span class="navbar-toggler-bar bar3"> </span>
      </button>
    </div>
    <div class="navbar-collapse justify-content-end" [collapse]="isCollapsed" id="navigation">
      <ul class="navbar-nav">
        <li class="nav-item p-0">
          <a class="nav-link" href="https://twitter.com/CreativeTim" placement="bottom" target="_blank"
            tooltip="Follow us on Twitter">
            <i class="fab fa-twitter"> </i>
            <p class="d-lg-none d-xl-none">Twitter</p>
          </a>
        </li>
        <li class="nav-item p-0">
          <a class="nav-link" href="https://www.facebook.com/CreativeTim" placement="bottom" target="_blank"
            tooltip="Like us on Facebook">
            <i class="fab fa-facebook-square"> </i>
            <p class="d-lg-none d-xl-none">Facebook</p>
          </a>
        </li>
        <li class="nav-item p-0">
          <a class="nav-link" href="https://www.instagram.com/CreativeTimOfficial" placement="bottom" target="_blank"
            tooltip="Follow us on Instagram">
            <i class="fab fa-instagram"> </i>
            <p class="d-lg-none d-xl-none">Instagram</p>
          </a>
        </li>
        <li class="dropdown nav-item" dropdown>
          <a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown" dropdownToggle
            href="javascript:void(0)">
            <i class="fa fa-cogs d-lg-none d-xl-none"> </i> Getting started
          </a>
          <div class="dropdown-menu dropdown-with-icons" *dropdownMenu>
            <a class="dropdown-item"
              href="https://demos.creative-tim.com/blk-design-system-angular/#/documentation/overview">
              <i class="tim-icons icon-paper"> </i> Documentation
            </a>
            <a class="dropdown-item" [routerLink]="['/register']">
              <i class="tim-icons icon-bullet-list-67"> </i> Register Page
            </a>
            <a class="dropdown-item" [routerLink]="['/landing']">
              <i class="tim-icons icon-image-02"> </i> Landing Page
            </a>
            <a class="dropdown-item" [routerLink]="['/profile']">
              <i class="tim-icons icon-single-02"> </i> Profile Page
            </a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-default d-none d-lg-block" href="javascript:void(0)"
            (click)="scrollToDownload(target)">
            <i class="tim-icons icon-cloud-download-93"> </i> Download
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->
<!-- <div class="container">
  <div class="row justify-content-between align-items-top">
    <div class="col-lg-5 mb-5 mb-lg-0">
      <h1 class="text-white font-weight-light"></h1>
      <p class="text-white mt-4">
       This component explains what this website is about 


      
      </p>
      <a
        class="btn btn-warning mt-4" [routerLink]="['/dateselector']"
      >
        See all components
    </a>
    </div>
</div> -->

<div class="section section-typo">
  <div class="container">
    <div class="row justify-content-between align-items-top">
      <div class="mb-5 mb-lg-0">
        <h3 class="heading">Treasure Hunt of Love</h3>
        <div class="text-white mt-4 mb-4 ml-3 mypara">I know you like to watch films that immersely engage you in it 😄. So here is my try to make you engaged in
          unreveling the last page by clicking on images - where each image holds a clue, leading you closer to unlocking the
          secrets that lie beyond </div>
        <div class="text-white mt-4 mb-4 ml-3 mypara">
          Gather the fragments of mystery, piece by piece, then enter your answer in guess box
        </div>
      </div>
    </div>
  </div>
  <div class="container">
   
    <div id="images">
      <div class="row">
        <div class="col-sm-3 col-6 mt-5 mt-sm-0">
          <small class="d-block text-uppercase font-weight-bold m-4">
            Rose Day
          </small>
          <a (click)="openDialog()">
            <img alt="Roses image" class="img-fluid rounded-circle shadow-lg" src="assets/img/rosee-day.jpg"
              style="width: 150px;height:130px" />
          </a>
        </div>

        <div class="col-sm-3 col-6 mt-5 mt-sm-0">
          <small class="d-block text-uppercase font-weight-bold m-4">
            Promise Day
          </small>
          <a (click)="promiseDialog()">
            <img alt="Promise image" class="img-fluid rounded-circle shadow-lg" src="assets/img/promise-day.jpg"
              style="width: 150px;height:130px" />
          </a>
        </div>
        <div class="col-sm-3 col-6 mt-5 mt-sm-0">
          <small class="d-block text-uppercase font-weight-bold m-4">
            Teddy Day
          </small>
          <a (click)="teddyDialog()">
            <img alt="teddy image" class="img-fluid rounded-circle shadow-lg" src="assets/img/teddy-img.jpg"
              style="width: 150px; height:130px" />
          </a>
        </div>
        <div class="col-sm-3 col-6 mt-5 mt-sm-0">
          <small class="d-block text-uppercase font-weight-bold m-4">
            Valentines Day
          </small>
          <a (click)="valentineDialog()">
            <img alt="valentinesday image" class="img-fluid rounded-circle shadow-lg"
              src="assets/img/Valentines-day.jpeg" style="width: 150px;height:130px" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container test">
  <div class="text-white element">Guess Box:</div>
  <input class="form-control" type="text" [(ngModel)]="inputValue" (input)="checkInput()" placeholder="what's your guess Mr.Voleti.....😊 ">
  <button (click)="submitData()" class="btn btn-danger btn-round btn-lg" [disabled]="isButtonDisabled">Submit</button>
  </div>
