<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header justify-content-center">
            <!-- <button aria-hidden="true" class="close" (click)="onClick()" type="button">
                <i class="tim-icons icon-simple-remove text-black"> </i>
            </button> -->
            <div class="text-muted text-center ml-auto mr-auto">
                <h3 class="mb-0">Teddy</h3>
            </div>
        </div>
        <hr>
        
        <div class="modal-body">
            <div>One of the cutest gift I received from you on our first outing(or date if I can say so😝)is teddy, which actually made me smile till we finish the day with a dinner in a beautiful cafe  </div>
            <br>
            <button class="btn btn-default" (click)="onClick()" type="button">Close</button>
        </div>
        
    </div>
</div>