<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header justify-content-center">
            <!-- <button aria-hidden="true" class="close" (click)="onClick()" type="button">
                <i class="tim-icons icon-simple-remove text-black"> </i>
            </button> -->
            <div class="text-muted text-center ml-auto mr-auto">
                <h3 class="mb-0">Roses</h3>
            </div>
        </div>
        <hr>
        
        <div class="modal-body">
            <div>Colors of roses!<br> What a deep way of communicating about one's feelings to others. Mention the color of
                a rose that represents our new beginnings</div>
            <br>
            <button class="btn btn-default" (click)="onClick()" type="button">Close</button>
        </div>
        
    </div>
</div>