.heart { 
    background: rgb(125, 60, 60); 
    position: absolute; 
    height: 100px; 
    width:100px; 
    /* Animation */
    transform: rotate(-45deg) scale(1); 
    animation: pulse 5s linear infinite; 

    &.square1 {
        opacity: 0.5;
        left: 3%;
        top: -21%;
    }
      &.square2 {
        opacity: 0.4;
        right: -5%;
        top: -12%;
    }
  
      &.square3 {
        opacity: 0.1;
        left: -5%;
        bottom: 0%;
    }
  
      &.square4 {
        opacity: 0.9;
        right: 27%;
        top: 70%;
    }
  
      &.square5 {
        opacity: 0.1;
        left: 70%;
        bottom: 70%;
    }
  
      &.square6 {
        left: 10%;
        top: 35%;
        opacity: 0.8;
    }
  
      &.square7 {
        right: -5%;
        bottom: 0%;
        opacity: 0.1;
    }
} 
  
  
.heart::after { 
    /* background:blue; */
    background:inherit; 
    border-radius: 50%; /* To make circle */
    content:''; 
    position:absolute; 
    /* top: -100px;*/
    top: -50%; /* Inherit properties of parent */
    /* left: -100px; */
    left:0; 
    height: 100px; 
    width:100px; 
} 
.heart::before { 
  /*  background:green; */
    background:inherit;  
    border-radius: 50%; /* To make circle */
    content:''; 
    position:absolute; 
    top:0;  
    right:-50%; /* Inherit properties of parent */
    height: 100px; 
    width:100px; 
} 
  
@keyframes pulse{ 
    0% { 
        transform: rotate(-45deg) scale(1); 
        opacity: 0; 
    }/* 
    10% { 
        transform: rotate(-45deg) scale(1.3); 
    } 
    20% { 
        transform: rotate(-45deg) scale(0.9); 
    } 
    30% { 
        transform: rotate(-45deg) scale(1.2); 
    } 
    40% { 
        transform: rotate(-45deg) scale(0.9); 
    }*/
    50% { 
        transform: rotate(-45deg) scale(1.3); 
        opacity: 1; 
    }/* 
    60% { 
        transform: rotate(-45deg) scale(0.95); 
    } 
    70% { 
        transform: rotate(-45deg) scale(1); 
    } */
    100% { 
        transform: rotate(-45deg) scale(1); 
        opacity: 1; 
    } 
}